@{
    ViewData["Title"] = "Home Page";
}


<h3>Welcome to the University Event website!!</h3>
<br />
<h2> Please register an account to the upper right using these email suffixes for your University!</h2>
<p>University of Central Florida: @Html.Raw("@")knights.ucf.edu</p>
<p>Florida State College: @Html.Raw("@")fsu.edu</p>
<p>University Of California: @Html.Raw("@")ucla.edu</p>