@model COP4710_V2.Models.Events

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Events</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="LocationId" class="control-label"></label>
				<select asp-for="LocationId" class="form-control" asp-items="ViewBag.LocationId"></select>
			</div>
			<div class="form-group">
				<label asp-for="EventName" class="control-label"></label>
				<input asp-for="EventName" class="form-control" />
				<span asp-validation-for="EventName" class="text-danger"></span>
			</div>>

			<div class="form-group">
				<label asp-for="StartTime" class="control-label"></label>
				<input asp-for="StartTime" class="form-control" />
				<span asp-validation-for="StartTime" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="StartDay" class="control-label"></label>
				<input asp-for="StartDay" class="form-control" />
				<span asp-validation-for="StartDay" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="StartMonth" class="control-label"></label>
				<input asp-for="StartMonth" class="form-control" />
				<span asp-validation-for="StartMonth" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="EventDesc" class="control-label"></label>
				<input asp-for="EventDesc" class="form-control" />
				<span asp-validation-for="EventDesc" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Category" class="control-label"></label>
				<input asp-for="Category" class="form-control" />
				<span asp-validation-for="Category" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="ContactPhone" class="control-label"></label>
				<input asp-for="ContactPhone" class="form-control" />
				<span asp-validation-for="ContactPhone" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="ContactEmail" class="control-label"></label>
				<input asp-for="ContactEmail" class="form-control" />
				<span asp-validation-for="ContactEmail" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-default" />
			</div>
		</form>
		<form method="POST">
			<select id="Event Type">
				<option value="Public">Public Event</option>
				<option value="Private">Private Event</option>
				<option value="RSO">RSO Event</option>
			</select>
		</form>



			
	</div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

